[Desktop Entry]
Encoding=UTF-8
Name=Link to .gitignore
Type=Link
URL=https://github.com/koing2010/linux-learning/blob/master/.gitignore
Icon=text-html
